.image__wrapper {
    border: 1px solid blue;
    perspective: 1000px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.image {
    width: 500px;
    height: 500px;
    transform-style: preserve-3d;
}
